(
    texture_width: 100,
    texture_height: 50,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 50,
            height: 50,
        ),
        (
            x: 50,
            y: 0,
            width: 50,
            height: 50,
        )
    ]
)