List((
    texture_width: 2048,
    texture_height: 1024,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 512,
            height: 512,
        ),
		(
            x: 512,
            y: 0,
            width: 512,
            height: 512,
        ),
		(
            x: 1024,
            y: 0,
            width: 512,
            height: 512,
        ),
		(
            x: 1536,
            y: 0,
            width: 512,
            height: 512,
        ),
		(
            x: 0,
            y: 512,
            width: 512,
            height: 512,
        ),
		(
            x: 512,
            y: 512,
            width: 512,
            height: 512,
        ),
		(
            x: 1024,
            y: 512,
            width: 512,
            height: 512,
        ),
		(
            x: 1536,
            y: 512,
            width: 512,
            height: 512,
        )
    ]
))